# System Files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride
._*
*.log
error_log
tmp

# Sensitive JetBrains Files
.idea/dataSources.xml
atlassian-ide-plugin.xml

# Project files
vendor
node_modules
composer.phar
*.cache
